[Unit]
Description=uConsole Battery Monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ucs monitor_battery
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
